.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    letter-spacing: 2px;
}

.header {
    border-bottom: 2px solid #3490FF;
    font-weight: bold;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    height: 66px;
}

.container {
    padding: 0 5%;
    margin-top: 100px;
}

.main {
    color: var(--text-primary);
    background-color: var(--background);
    transition: all .5s;
}

.main h3{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 10px;
    text-shadow: var(--text-shadow);
    color: var(--text-primary);
}

.wrap-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reject{
    height: 100vh;
    margin: 200px auto;
    width: 600px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    gap: 20px;
}

@media (max-width: 576px) {
    .header{
        height: auto;
    }
    .container {
        padding: 0 5%;
        margin-top: 70px;
    }
}