body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: dimgray;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.active{
    color: #ff9638;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input {
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    letter-spacing: 2px;
}

.header {
    border-bottom: 2px solid #3490FF;
    font-weight: bold;
}

.container {
    /*max-width: 1200px;*/
    margin: 10px 0;
    padding: 0 5%;
}

.main {
    background-color: #EDF4FB;
}

.main h3{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 #3490FF, 0 -1px #3490FF;
    color: #282c34;
}

.wrap-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
