.action__btn{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 30px;
    padding: 10px;
    width: 100%;
}

.action__btn button{

}

.action__btn button:first-child{
    flex: 0 1 20%;
}

.action__btn button:last-child{
    font-size: 18px;
    letter-spacing: 3px;
    flex: 1 1 auto;
    font-weight: bold;
    background-color: dimgray;
    color: gainsboro;
    border-radius: 8px;
    padding: 5px 0;
}

.action__btn button:last-child:hover{
    border: 1px solid ghostwhite;
    color: ghostwhite;
}

.page__count{
    margin: 20px 0 0 0;
    font-size: 20px;
    color: royalblue;
    font-weight: bolder;
}