.genre{
    flex: 0 1 20%;
    cursor: pointer;
    color: dimgray;
    padding: 5px;
}

.genre:hover{
    background-color: #EDF4FB;
}

@media (max-width: 768px) {

    .genre{
        flex: 1 1 25%;
    }

}

@media (max-width: 576px){
    .genre{
        flex: 1 1 35%;
    }
}


@media (max-width:420px){
    .genre{
        flex: 1 1 100%;
    }
}