.headerContainer{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 5%;
}

.headerNav, .userAction{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.headerNav img{
    height: 50px;
}

