.headerContainer{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 5%;
}

.headerNav, .userAction{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.headerNav img{
    height: 50px;
}

@media (max-width: 768px) {
    .headerNav{
        flex-direction: row-reverse;
        column-gap: 10px;
    }
    .headerNav img{
        height: 40px;
    }
}


@media (max-width: 576px) {
    .userAction{
        column-gap: 10px;
    }
}

@media (max-width: 420px){
    .headerNav img{
        height: 20px;
        width: 80px;
        margin-top: 5px;
    }

}