.pop-up{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
    font-weight: bold;
}

.pop-up span{
    color: #3490FF;
}

.on{
    opacity: 80%;
    transition: 0.3s;
}

.item-link {
    flex: 1 1 20%;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 10px 0 rgba(34, 60, 80, 0.2);
    color: black;
}

.item-link:hover{
    flex: 1 1 22%;
    transition: 0.3s;
    opacity: 90%;
}

.item-link img{
    width: 100%;
}

.item__info{
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.movie-rating{
    color: ghostwhite;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.high{
    background-color: forestgreen;
}

.middle{
    background-color: #ff9638;
}

.low{
    background-color: red;
}