.pop-up{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
    font-weight: bold;
}

.pop-up span{
    color: #3490FF;
}

.on{
    opacity: 80%;
    transition: 0.3s;
}

.item-link {
    flex: 1 1 20%;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #282c34;
    color: #EDF4FB;
}

.item-link:hover{
    flex: 1 1 21%;
    transition: 0.3s;
    opacity: 90%;
}

.item-link img{
    width: 100%;
}

.item__info{
    padding: 5px;
    text-align: center;
}