.main__film {
    font-size: 18px;
    height: 100vh;
    overflow-y: auto;
    position: relative;
}

.main__film-info {
    color: #f1f1f1;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.main__film-detail{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.film__info-trailer{
    flex: 0 1 40%;
}

.film__info-base{
    flex: 1 2 60%;
}

.film__info-base > div ul{
    display: flex;
}

.film__info-base span{
    color: silver;
}

.film__info-base div ul > .genre{
    list-style: inside;
    white-space: nowrap;
    text-align: center;
    color: whitesmoke;
}

.film__info-base div ul > .genre:hover{
    background-color: #ff9638;
}

.title {
    text-shadow: -1px 0 black, 0 1px ghostwhite, 1px 0 ghostwhite, 0 -1px black;
    font-size: 25px;
}

.film__info-rating{
    display: flex;
    flex-direction: column;
}

.film__info-rating p:last-child {
    text-align: justify;
}

.film__info-rating span {
    color: orangered;
}

.main__film-add {
    font-size: 18px;
    text-align: justify;
    text-shadow: -1px 0 silver, 0 1px black, 1px 0 black, 0 -1px silver;
}