.slider .pop-up{
    font-size: 13px;
}

.slider .slide{
    background-color: darkslategray;
    flex: 1 0 20%;
}

.slider-track{
    display: flex;
    column-gap: 30px;
    overflow: hidden;
    position: relative;
}