.slider .pop-up{
    font-size: 13px;
}

.slider{
    display: flex;
}

.slider .slide{
    background-color: whitesmoke;
    flex: 1 0 250px;
    transition: 1s;
    font-size: 15px;
    height: fit-content;
    position: relative;
    left: 0;
}

.slider .slide img{
}

.slider-track{
    display: flex;
    column-gap: 30px;
    overflow: hidden;
}

